<%= form_for(@spam) do |f| %>
  <% if @spam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spam.errors.count, "error") %> prohibited this spam from being saved:</h2>

      <ul>
      <% @spam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :spam %><br />
    <%= f.text_field :spam %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
